{% extends 'FRS/base_template.html' %}
{% load humanize %}
{% block title %}Team {{ team.team_number }} - {{ team.nickname }}{% endblock %}
{% block body %}
    <div class="uk-grid">
        <div class="uk-width-large-1-1 uk-container-center">
            <h2>Team {{ team.team_number }} - {{ team.nickname }}</h2>
        </div>
        <div class="uk-width-1-2">
            <h4>Rating: {{ team.elo_mu|floatformat:2 }} ({{ team.get_elo_standing|ordinal|intcomma }} overall)</h4>
        </div>
        <div class="uk-width-1-2"><h4 class="uk-text-right">Rookie year: {{ team.rookie_year }}</h4></div>
        <div class="uk-width-1-2"><h4>All-time Record: {{ team.get_record }} ({{ team.get_winrate|floatformat:-2 }}%
            winrate)</h4></div>
        <div class="uk-width-1-2"><h4 class="uk-text-right">
            <a href="https://www.google.com/maps/place/{{ team.location }}/">{{ team.location }}</a>
        </h4></div>
    </div>

    <p>
        Won {{ awards_count }} award{{ awards_count|pluralize }} all-time{% if awards_count > 0 %}, with
        {{ blue_banners_count }} blue banners:
        <ul class="uk-list">
            {% with team.count_awards.items as award_items %}
            {% for award in award_items %}
                <li>&bull; {{ award.1|length }}x {{ award.0 }} at {% for event in award.1 %}
                    <a href="{% url 'event_view' event.key %}">
                        {{ event.name.strip }} {{ event.year }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}
                </li>
            {% endfor %}
            {% endwith %}
        </ul>
    {% else %}.
    {% endif %}
{% endblock %}
