{% extends 'FRS/base_template.html' %}
{% load humanize %}
{% block title %}Team {{ team.team_number }} - {{ team.nickname }}{% endblock %}
{% block body %}
    <div class="uk-grid">
        <div class="uk-width-large-1-1 uk-container-center">
            <h2>Team {{ team.team_number }} - {{ team.nickname }}</h2>
        </div>
        <div class="uk-width-1-2">
            <h4>Rating: {{ team.elo_mu|floatformat:2 }} ({{ team.get_elo_standing|ordinal|intcomma }} overall)</h4>
        </div>
        <div class="uk-width-1-2"><h4 class="uk-text-right">Rookie year: {{ team.rookie_year }}</h4></div>
        <div class="uk-width-1-2"><h4>All-time Record: {{ team.get_record }}</h4></div>
        <div class="uk-width-1-2"><h4 class="uk-text-right">
            <a href="https://www.google.com/maps/place/{{ team.location }}/">{{ team.location }}</a>
        </h4></div>
    </div>

    <p>
        Won {{ awards_count }} award{{ awards_count|pluralize }} all-time{% if awards_count > 0 %}, with
        {{ blue_banners_count }} blue banners:
        <ul class="uk-list">
            {% for award in team.count_awards %}
                <li>&bull; {{ award.1 }}x {{ award.0 }}</li>
            {% endfor %}
        </ul>
    {% else %}.
    {% endif %}


    <p>
        Competed in {{ events.count }} event{{ events.count|pluralize }} in {{ events.first.year }}:
        {% for event in events %}
            <a href="{% url 'event_view' event.key %}">{{ event.name.strip }}{% if not forloop.last %},{% endif %}</a>
        {% endfor %}
    </p>


{% endblock %}
