{% extends 'FRS/base_template.html' %}

{% block body %}
    <table class="uk-table uk-table-condensed">
        <caption>Longest Active Event Winstreaks</caption>
        <thead>
        <tr>
            <th>Rank</th>
            <th>Team</th>
            <th>Streak</th>
        </tr>
        </thead>
        <tbody>
        {% for team in teams %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td><a href="{% url 'team_view' team.team_number %}">{{ team }}</a></td>
                <td>{{ team.active_event_winstreak }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
