{% extends 'FRS/base_template.html' %}

{% block body %}
    <table class="uk-table uk-table-condensed">
        <caption>Highest Team Winrate All Time</caption>
        <thead>
        <tr>
            <th>Rank</th>
            <th>Team</th>
            <th>Win Rate</th>
        </tr>
        </thead>
        <tbody>
        {% for team in team_winrate %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td><a href="{% url 'team_view' team.team_number %}">{{ team }}</a></td>
                <td>{{ team.win_rate|floatformat:2 }}%</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
