$frs-header-underline: #ccc;
$frs-header-border: 1px solid $frs-header-underline;
$frs-search-font-family: 'Share Tech Mono', monospace;

@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono');

// scss-lint:disable IdSelector
#typeahead-wrapper {
// scss-lint:enable IdSelector

  font-family: $frs-search-font-family;

  .twitter-typeahead,
  .frs-search-menu {
    width: 100%;
  }

  .frs-search-header {
    border-bottom: $frs-header-border;
    border-top: $frs-header-border;

    margin: 10px 0 5px;
    padding: 3px 0;
  }

}
