<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
{% load static from staticfiles %}
{% block head %}
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %}FRS{% endblock %}</title>

        {% block css %}
            <link rel="stylesheet" href="{% static 'global/css/scss/main.css' %}">
        {% endblock %}
        {% block scripts %}
            <script src="{% static 'global/js/d3/d3.min.js' %}"></script>
        {% endblock %}
    </head>
{% endblock %}
<body>
{% block navbar %}
    <nav class="uk-navbar uk-navbar-attached">
        <div class="wrapper-nav">
            <a href="{% url 'landing' %}" class="uk-navbar-brand">FRS</a>
            <ul class="uk-navbar-nav">
                <li><a href="{% url 'leaderboard' %}">Leaderboard</a></li>
            </ul>
        </div>
    </nav>
{% endblock %}
<div class="wrapper">
    {% block body %}
    {% endblock %}
</div>
</body>
</html>
