<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
{% load static from staticfiles %}
{% block head %}
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block title %}
            <title>FRS</title>
        {% endblock %}

        {% block css %}
            <link rel="stylesheet" href="{% static 'global/css/scss/main.css' %}">
        {% endblock %}
        {% block scripts %}
        {% endblock %}
    </head>
{% endblock %}
<body>
{% block navbar %}
    <nav class="uk-navbar">
        <div class="wrapper">
            <a href="{% url 'FRS.views.landing' %}" class="uk-navbar-brand">FRS</a>
            </div>
    </nav>
{% endblock %}
<div class="wrapper">
    {% block body %}
    {% endblock %}
</div>
</body>
</html>
