{% extends 'FRS/base_template.html' %}

{% block body %}
    <table class="uk-table uk-table-condensed">
        <thead>
        <tr>
            <th>Rank</th>
            <th>Alliance</th>
            <th>Match Wins</th>
        </tr>
        </thead>
        <tbody>
        {% for alliance in alliance_matches_3 %}
            {% with alliance.teams.all as teams %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>
                        <a href="{% url 'alliance_view' teams.0.team_number teams.1.team_number teams.2.team_number %}">{{ teams|join:", " }}</a>
                    </td>
                    <td>{{ alliance.match_wins }}</td>
                </tr>
            {% endwith %}
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
