@import '../../../../bower_components/uikit/scss/uikit-mixins.scss';
@import '../../../../bower_components/uikit/scss/uikit.scss';
@import '../../../../bower_components/uikit/scss/components/autocomplete.scss';

$secondary-color: #205081;

body {
  .wrapper {
    max-width: 1024px;
    margin: 0 auto;
    padding: 1%;
    .wrapper-nav {
      padding: 0;
    }
  }

  .uk-width-1-2 {
    margin-bottom: 0.4em;
  }
}

.uk-navbar {
  background-color: $secondary-color;

  .uk-navbar-brand:hover,
  .uk-navbar-brand:active,
  .uk-navbar-nav > li > a:hover,
  .uk-navbar-nav > li > a:active {
    background-color: #f5f5f5;
    color: $secondary-color;
    outline: none;
  }

  .uk-navbar-nav > li > a,
  .uk-navbar-brand {
    color: white;
  }
}

.uk-table {
  td
  th {
    border-bottom: 1px solid #e5e5e5;
  }
}

.red-alliance {
  background-color: #fdd;
}

.blue-alliance {
  background-color: #ddf;
}
