{% spaceless %}
    <!DOCTYPE html>
    <html lang="en">
    {% load js_reverse %}
    {% load staticfiles %}
    {% load static from staticfiles %}
    {% load leaderboard_dropdown %}
    {% block head %}
        <head>
            <meta charset="UTF-8">
            <meta http-equiv="x-ua-compatible" content="ie=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">

            {# Android Chrome theme color #}
            <meta name="theme-color" content="#205081">
            {# Windows Phone theme color #}
            <meta name="msapplication-navbutton-color" content="#205081">
            {# iOS Safari theme color #}
            <meta name="apple-mobile-web-app-status-bar-style" content="#205081">

            <title>{% block title %}FRS{% endblock %}</title>

            {% block root-css-imports %}
                <link rel="stylesheet" href="{% static 'bower_components/uikit/css/uikit.min.css' %}"/>

                <link rel="stylesheet" href="{% static 'bower_components/font-awesome/css/font-awesome.min.css' %}"/>

                <link rel="stylesheet" href="{% static 'compiled/global/css/main.css' %}"/>
            {% endblock %}

            {% block root-inline-css %}{% endblock %}

            {% block css-imports %}{% endblock %}

            {% block inline-css %}{% endblock %}
        </head>
    {% endblock %}
    <body>
    {% block navbar %}
        <nav class="uk-navbar uk-navbar-attached">
            <div class="wrapper-nav">
                <a href="{% url 'landing' %}" class="uk-navbar-brand">FRS</a>
                <ul class="uk-navbar-nav">
                    <li class="uk-parent" data-uk-dropdown="{mode:'click'}">
                        <a href="#">Leaderboard <i class="fa fa-angle-down"></i></a>
                        <div class="uk-dropdown uk-dropdown-navbar">
                            <ul class="uk-nav uk-nav-navbar">
                                <li><a href="{% url 'leaderboard_overview' %}">All Leaderboards</a></li>
                                {% show_leaderboard_categories as categories %}
                                {% for category in categories %}
                                    <li><a href="{% url 'category_overview' category %}">{{ category }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="uk-navbar-flip">
                <ul class="uk-navbar-nav">
                    <li><a href="" data-uk-modal="{target:'#about'}">About</a></li>
                </ul>
            </div>
        </nav>
    {% endblock %}
    <div class="wrapper">
        {% block body %}
        {% endblock %}

        <a href="#about" data-uk-modal></a>
        <div id="about" class="uk-modal">
            <div class="uk-modal-dialog">
                <a class="uk-modal-close uk-close"></a>
                FRS is a statistics website dedicated to FIRST Robotics. <a href="https://github.com/FRC-RS/FRS">We are
                open source!</a> <br><br>

                Suggestions? <a href="https://github.com/FRC-RS/FRS/issues/new">Open an issue on GitHub!</a><br><br>

                Questions that aren't right for a GitHub issue? Email <a href="mailto:jhtervay@gmail.com">Justin
                Tervay</a> or <a href="mailto:matthewcrocco@gmail.com">Matthew Crocco</a>.<br><br>

                We currently have support for the following years:<br>
                {{ SUPPORTED_YEARS|join:", " }}.
            </div>
        </div>
    </div>

    {% block root-js-imports %}
        <script src="https://use.fontawesome.com/1740731e42.js"></script>
        <script src="https://code.jquery.com/jquery-3.1.0.min.js"
                integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="
                crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/lodash/4.17.2/lodash.js" integrity="sha256-jMc5qmlrXS+V1z21mzYUtTpsqdYU4BLe8gzd/UBPo24=" crossorigin="anonymous"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js"
                integrity="sha256-dsOXGNHAo/syFnazt+KTBsCQeRmlcW1XKL0bCK4Baec="
                crossorigin="anonymous"></script>
        <script src="{% static 'bower_components/tablesorter/jquery.tablesorter.min.js' %}"></script>

        <script src="{% static 'compiled/global/js/existential.js' %}"></script>

        {% if request.META.HTTP_HOST != "127.0.0.1:8000" %}
            {# Google Analytics #}
            <script src="{% static 'compiled/global/js/google-analytics.js' %}"></script>
        {% endif %}

    {% endblock %}

    {% block js-imports %}{% endblock %}

    {% block root-inline-js %}
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function () {
            function hasClass(element, cls) {
                return (' ' + element.className + ' ').indexOf(' ' + cls + ' ') > -1;
            }

            var tables = document.getElementsByTagName('table');
            for (var i = 0, len = tables.length; i < len; i++) {
                if (!hasClass(tables[i], 'no-sort')) {
                    $(tables[i]).tablesorter();
                }
            }
        });
    {% endblock%}

    {% js_reverse_inline %}</script>
    {% block inline-js %}{% endblock %}
    </body>
    </html>
{% endspaceless %}
