{% extends 'FRS/base_template.html' %}
{% load staticfiles %}
{% load static from staticfiles %}

{% block body %}
    <form action="{% url 'search' %}" method="get" class="uk-form form-valign">
        {% csrf_token %}
        <label for="search"></label>
        <input autofocus required type="search" name="search" id="search"
               placeholder="Search for anything (e.g. 2791, 2016cmp)"
               class="uk-form-large">
        <div id="typeahead-wrapper">
            <label for="typeahead-search"></label>
            <input class="typeahead" name="typeahead-search" type="text" placeholder="Teams/Events" />
        </div>
    </form>
{% endblock %}

{% block js-imports %}
    <script src="{% static "bower_components/typeahead.js/dist/typeahead.bundle.min.js" %}"></script>
    <script src="{% static "bower_components/typeahead.js/dist/typeahead.jquery.min.js" %}"></script>
    <script src="{% static "compiled/global/js/main.js" %}"></script>
{% endblock %}

{% block inline-js %}
<script>
        function s(e) {
            var query = $('#search').val();

            if (query.length > 0) {
                console.log(query);
                $.ajax({
                    url: "{% url 'search_api' %}",
                    data: {'search': query},
                    context: document.body,
                    success: function (r) {
                        console.log(r);
                    }
                });
            }
        }
        $(document).ready(function () {
            var timeout = null;
            var delay = 1000; // 1.000 seconds
            $('#search').keyup(function (e) {
                if (timeout !== null) {
                    clearTimeout(timeout);
                }
                timeout = setTimeout(function () {
                    s(e);
                }, delay);
            })
        })
    </script>
{% endblock %}
