{% extends 'FRS/base_template.html' %}
{% load staticfiles %}
{% load static from staticfiles %}

{% block body %}
    <form action="{% url 'search' %}" method="get" class="uk-form form-valign">
        {% csrf_token %}
        <div id="typeahead-wrapper" class="uk-form-row">
            <label for="typeahead-search">Search Our Data</label>
            <input class="typeahead uk-form-large" name="typeahead-search" type="text"
                   placeholder="Search for anything (e.g. 2791, 2016cmp)" />
        </div>
    </form>
{% endblock %}

{% block css-imports %}
    <link rel="stylesheet" href="{% static "compiled/global/css/search.css" %}" />
{% endblock %}

{% block js-imports %}
    <script src="{% static "compiled/global/js/bundle.js" %}"></script>
{% endblock %}

{% block inline-js %}
    <script>
        FRS.search.initializeTeamEventSearch({
            resultLimit: 30
        });
    </script>
{% endblock %}
