@import '../../../../bower_components/uikit/scss/uikit-mixins.scss';
@import '../../../../bower_components/uikit/scss/uikit.scss';
@import '../../../../bower_components/uikit/scss/components/autocomplete.scss';

body {
  .wrapper {
    max-width: 1024px;
    margin: 0 auto;
  }
}

.uk-navbar {
  background-color: slategrey;

  a, h1, h2, h3, h4, h5, h6 {
    color: white;
  }
}
