{% extends 'FRS/base_template.html' %}
{% load match_level_humanizer %}
{% load get_team_ranking_model %}
{% load elo_formatter %}
{% block title %}{{ event.year }} {{ event.name }}{% endblock %}
{% block body %}
    <h1>{{ event.name }} {{ event.year }}</h1><br>
    {% if event.event_district != 0 %}
        Part of the {{ event.get_event_district_display }} District<br>
    {% endif %}
    <strong>{{ event.get_event_type_display }}</strong><br>
    {{ event.location }}<br>
    {{ event.end_date }}<br>
    {% if event.website != None %}
        <a href="{{ event.website }}">{{ event.website }}</a>
    {% endif %}


    <table class="uk-table uk-table-condensed uk-table-hover">
        <caption>Teams in Attendance</caption>
        <thead>
        <tr>
            <th>Team</th>
            <th>Event Record</th>
            <th>Pre-Event Elo</th>
            <th>Post-Event Elo</th>
        </tr>
        </thead>
        <tbody>
        {% for team in event.teams.all %}
            {% with ranking_models|get_team_rm:team as rm %}
                <tr>
                    <td><a href="{% url 'team_view' team.team_number %}">{{ team }}</a></td>
                    <td>{{ rm.get_record }}</td>
{#                    <td>{{ rm.elo_mu_pre|format_elo|floatformat:2 }}</td>#}
{#                    <td>{{ rm.elo_mu_post|format_elo|floatformat:2 }}</td>#}
                </tr>
            {% endwith %}
        {% endfor %}
        </tbody>
    </table>

    <table class="uk-table uk-table-condensed">
        <caption>Matches</caption>
        <thead>
        <tr>
            <th>Match</th>
            <th>Red</th>
            <th>Blue</th>
            <th>Red Score</th>
            <th>Blue Score</th>
        </tr>
        </thead>
        <tbody>
        {% for match in event.match_set.all %}
            <tr>
                <td>
                    {{ match.comp_level|match_humanize }}
                    {% if match.comp_level != 'qm' and match.comp_level != 'f' %}
                        Set {{ match.set_number }}
                    {% endif %}
                    Match {{ match.match_number }}
                </td>
                <td style="background-color: #ff9999;">{{ match.red_alliance.to_html|linebreaks }}</td>
                <td style="background-color: #1976D2;">{{ match.blue_alliance.to_html|linebreaks }}</td>

                <td style="background-color: #ff9999;">{{ match.scoring_model.red_total_score }}</td>
                <td style="background-color: #1976D2;">{{ match.scoring_model.blue_total_score }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
