{% extends 'FRS/base_template.html' %}
{% load humanize %}
{% block body %}
    <div class="uk-grid">
        <div class=".uk-width-large-1-1 uk-container-center">
            <h2>Team {{ team.team_number }} - {{ team.nickname }}</h2>
        </div>
        <div class="uk-width-1-2">
            <h4>Rating: {{ team.elo_mu|floatformat:2 }} ± {{ team.elo_sigma|floatformat:2 }}
                ({{ team.get_elo_standing|ordinal }} overall)</h4>
        </div>
        <div class="uk-width-1-2"><h4 class="uk-text-right">Rookie year: {{ team.rookie_year }}</h4></div>
        <div class="uk-width-1-2"><h4>All-time Record: {{ team.get_record }}</h4></div>
        <div class="uk-width-1-2"><h4 class="uk-text-right">{{ team.location }}</h4></div>
    </div>

    <p>Competed in {{ events.count }} event{{ events.count|pluralize }} in {{ events.first.year }}:
    {% for event in events %}
        <a href="{% url 'event_view' event.key %}">{{ event.name.strip }}{% if not forloop.last %},{% endif %}</a>
    {% endfor %}

{% endblock %}
