{% extends 'FRS/base_template.html' %}
{% block body %}
    <h1>Team {{ team.team_number }} - {{ team.nickname }}</h1>
    <h3>Rating: {{ team.elo_mu|floatformat:2 }} ± {{ team.elo_sigma|floatformat:2 }}</h3>
    <h3>All-time Record: {{ team.get_record }}</h3>
    <h5>Rookie year: {{ team.rookie_year }}<br>
    {{ team.location }}<br></h5>

    {% if team.motto != None %}
        <blockquote>{{ team.motto }}</blockquote>
    {% endif %}

    Competed in {{ events.count }} event{{ events.count|pluralize }} in {{ events.first.year }}:
    {% for event in events %}
        <a href="{% url 'event_view' event.key %}">{{ event.name.strip }}{% if not forloop.last %},{% endif %}</a>
    {% endfor %}

    <br>
{% endblock %}
