{% extends 'FRS/base_template.html' %}
{% load get_from_dict %}

{% block body %}
    <table class="uk-table">
        <thead>
        <tr>
            <th>Stat</th>
            <th>Leader</th>
            <th>Value</th>
        </tr>
        </thead>
        <tbody>
        {% for record in leaderboard %}
            <tr>
                <td><a href="{{ record.url }}">{{ record.name }}</a></td>
                <td><a href="{{ record.holder_url }}">{{ record.holder }}</a></td>
                <td>{{ record.stat }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
