{% extends 'FRS/base_template.html' %}
{% load url_finder %}

{% block title %}Leaderboard - {{ leaderboard.description }}{% endblock %}
{% block body %}
    <table class="uk-table">
        <caption>{{ leaderboard.description }}</caption>
        <thead>
        <tr>
            <th>Rank</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for holder in leaderboard.get_leaderboard_tuples %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td><a href="{{ holder.0|url_finder }}">{{ holder.0 }}</a></td>
                <td>{{ holder.1|floatformat:-3 }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
