{% extends 'FRS/base_template.html' %}

{% block body %}
    <table class="uk-table">
        <thead>
        <tr>
            <th>Leaderboard Desc</th>
            <th>Field</th>
        </tr>
        </thead>
        <tbody>
        {% for leaderboard in leaderboards %}
            <tr>
                <td><a href="{% url 'leaderboard_spec' leaderboard.field %}">{{ leaderboard.description }}</a></td>
                <td>{{ leaderboard.field }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
